{% extends "base.html" %}
{% load static %}



{% block title %}Reservations{% endblock %}

{% block content %}
    <div>
       
    </div>
    {% for res in my_reserves %}
    <div class="card mb-3" style="max-width: 540px;">
        <div class="row g-0">
          <div class="col-md-4">
            <img src="{% static 'images/logo.jpg' %}" class="img-fluid rounded-start" alt="logo">
          </div>
          <div class="col-md-8">
            <div class="card-body">
              <h2 class="card-title">{{ res.people_booked }}</h2>
              <p class="card-text"> 
                
                <h5>{{res.full_name}}</h5>
                <h5>{{ res.email }}</h5>
                <h5>{{ res.date_of_reserve }}</h5>
                <h5>{{ res.preference }}</h5>
                </p>
              <p class="card-text"><small class="text-body-secondary">Last updated 3 mins ago</small></p>
            </div>
          </div>
        </div>
      </div>
      {% endfor %}
{% endblock %}