body {
    background-color: #F9FAFC;
}

.navbar-brand {
    font-size: 3rem;
}

.nav-item:hover,
.nav-item:active {
    color:black;
    text-decoration: underline;
}

.carousel-item img {
    background-size: cover;
    height: calc(100vh - 102px);
    padding: 10%;
}

.carousel-item h1 {
    position: relative;
    z-index: 20;
    font-size: large;
    margin-top: 50%;
}