body {
    background-color:brown;
    font-family: 'Roboto', sans-serif;
    
}

/* .navbar-brand {
    font-size: 3rem;
} */


.navbar-text {
    text-align: center;
}

.nav-item:hover,
.nav-item:active {
    color:black;
    text-decoration: underline;
}




/* Footer */
footer {
    text-align: center;
    padding: 2px;
    background-color: rgb(187, 187, 147);
}

footer>span {
    color: black;
    font-size: 0.8rem;
}
/* Social Media Icons */
footer>a {
    text-decoration: none;
    padding: 0 15px;
}