{% extends "base.html" %}
{% load static %}

{% block title %}Menu{% endblock %}

{% block content %}


<div class="container text-center">
  <div class="row">
    <!-- Braai Platters -->
    <div class="col">
      <h1>Braai Platters</h1>
      {% for meal in platters %}
      <div class="card mb-3" style="max-width: 550px;">
        <div class="row g-0">
          <div class="col-md-4">
            <img width="200" src="{{ meal.images.url }}" class="img-fluid rounded-start" alt="menu">
          </div>
          <div class="col-md-8">
            <div class="card-body">
              <h5 class="card-title">{{ meal.meal_name }}</h5>
            </div>
            <p class="card-text text-center"><small class="text-body-secondary">€{{ meal.price }}</small></p>
            <!-- <button type="button" class="btn btn-success btn-sm" data-bs-dismiss="modal">Select</button>
            <button type="button" class="btn btn-danger btn-sm">Delete</button> -->
            <a href="{% url 'menu_detail' meal.slug %}">View meal details</a>
          </div>
        </div>
      </div>
      {% endfor %}
    </div>
    <!-- Hearty Meals -->
    <div class="col">
      <h1>Hearty Meals</h1>
      {% for meal in hearty_meals %}
      <div class="card mb-3" style="max-width: 550px;">
        <div class="row g-0">
          <div class="col-md-4">
            <img width="200" src="{{ meal.images.url }}" class="img-fluid rounded-start" alt="menu">
          </div>
          <div class="col-md-8">
            <div class="card-body">
              <h5 class="card-title">{{ meal.meal_name }}</h5>
            </div>
            <p class="card-text text-center"><small class="text-body-secondary">€{{ meal.price }}</small></p>
            <!-- <button type="button" class="btn btn-success btn-sm" data-bs-dismiss="modal">Select</button>
            <button type="button" class="btn btn-danger btn-sm">Delete</button> -->
            <a href="{% url 'menu_detail' meal.slug %}">View meal details</a>
          </div>
        </div>
      </div>
      {% endfor %}
    </div>
    <!-- Sides -->
    <div class="col">
      <h1>Sides</h1>
      {% for meal in my_sides %}
      <div class="card mb-3" style="max-width: 550px;">
        <div class="row g-0">
          <div class="col-md-4">
            <img width="200" src="{{ meal.images.url }}" class="img-fluid rounded-start" alt="menu">
          </div>
          <div class="col-md-8">
            <div class="card-body">
              <h5 class="card-title">{{ meal.meal_name }}</h5>
            </div>
            <p class="card-text text-center"><small class="text-body-secondary">€{{ meal.price }}</small></p>
            <!-- <button type="button" class="btn btn-success btn-sm" data-bs-dismiss="modal">Select</button>
            <button type="button" class="btn btn-danger btn-sm">Delete</button> -->
            <a href="{% url 'menu_detail' meal.slug %}">View meal details</a>
          </div>
        </div>
      </div>
      {% endfor %}
    </div>
    <!-- Mzansi Drinks -->
    <div class="col">
      <h1>Mzansi Drinks</h1>
      {% for meal in drinks %}
      <div class="card mb-3" style="max-width: 550px;">
        <div class="row g-0">
          <div class="col-md-4">
            <img width="200" src="{{ meal.images.url }}" class="img-fluid rounded-start" alt="menu">
          </div>
          <div class="col-md-8">
            <div class="card-body">
              <h5 class="card-title">{{ meal.meal_name }}</h5>
            </div>
            <p class="card-text text-center"><small class="text-body-secondary">€{{ meal.price }} </small></p>
            <!-- <button type="button" class="btn btn-success btn-sm" data-bs-dismiss="modal">Select</button>
            <button type="button" class="btn btn-danger btn-sm">Delete</button> -->
            <a href="{% url 'menu_detail' meal.slug %}">View meal details</a>
          </div>
        </div>
      </div>
      {% endfor %}
    </div>
  </div>
</div>


<!-- Popover -->
<div class="card col-md-8 shadow-lg p-3 mb-5 bg-body-tertiary rounded position-relative">
  <p class="card-text text-center">Would you like to make any changes to your order?</p>

  <a href="#" class="btn btn-primary btn-sm">No, I am satisfied with my order.</a>

  <a href="#" class="btn btn-primary btn-sm">Yes I would like to change it.</a>
</div>
<div>
  <p>In order to complete your order, please<a class="link" href="{{ signup_url }}">sign up</a> or simply login</p>
</div>

{% endblock %}