{% extends "base.html" %}
{% load static %}

{% block titel %}{% endblock %}

{% block content %}

<!-- User should signup and log in before viewing the menu details. -->

<div class="card mb-3 w-75 m-auto">
    <img src="{{ my_details.images.url }}" class="card-img-top" alt="menu image">
    <div class="card-body d-flex  w-100%">
      <h3 class="card-title">{{ my_details.category }}</h3>
      <p class="card-text">{{ my_details.meal_name }}</p>
      <p class="card-text"><small class="text-body-secondary">{{ my_details.description }}</small></p>
      <button type="button" class="btn btn-success btn-sm" data-bs-dismiss="modal">Select</button>
      <button type="button" class="btn btn-danger btn-sm">Delete</button>
    </div>
    <section class="feedback p-50 bg-secondary-subtle rounded mt-70">
      {% if messages %}
          {% for message in messages %}
          <p style="color:rgb(5, 129, 5)">{{ message }}</p>
          {% endfor %}
        {% endif %}
        <h4>Tell us what you think:</h4>
        <form method="POST">
          {% csrf_token %}

          {% for field in form %}
            {{ field.label_tag }}<br>
            {{ field }}<br>
            
            {% for error in field.errors %}
              <p style="color:red">{{ error }}</p><br>
            {% endfor %}
            <br>
          {% endfor %}
          
          <button type="submit">Submit</button>
        </form>  
    </section>
    
  </div>
  <section>
    {% for review in reviews %}
      <h4>{{ review.name }}|{{ review.rating }}
        {% if review.rating == 5 %}⭐⭐⭐⭐⭐
        {% elif review.rating == 4 %}⭐⭐⭐⭐
        {% elif review.rating == 3 %}⭐⭐⭐
        {% elif review.rating == 2 %}
        {% else %}⭐
        {% endif %}
      </h4>
      <p>{{ review.text }}</p>
      <br>
    {% endfor %}
  </section>
  


{% endblock %}