{% extends "base.html" %}
{% load static %}

{% block title %}Menu{% endblock %}

{% block content %}

{% for category in categories %}
<h2>{{ meal.category }}</h2>
{% for meal in category.my_menu.all %}

<div class="card mb-3" style="max-width: 400px;">
    <div class="row g-0">
      <div class="col-md-4">
        <img src="{{ meal.image.url }}" class="img-fluid rounded-start" alt="menu">
      </div>
      <div class="col-md-8">
        <div class="card-body">
          <h5 class="card-title">{{ meal.meal_name }}</h5>
          <p class="card-text">{{ meal.description }}</p>
          <p class="card-text"><small class="text-body-secondary">€{{ meal.price }}</small></p>
          <button type="button" class="btn btn-success btn-sm" data-bs-dismiss="modal">Select</button>
        <button type="button" class="btn btn-danger btn-sm">Delete</button>
        </div>
      </div>
    </div>
  </div>
  {% endfor %}
  {% endfor %}

  <div class="card col-md-8 shadow-lg p-3 mb-5 bg-body-tertiary rounded position-relative">
    <p class="card-text text-center">Would you like to make any changes to your order?</p>

    <a href="#" class="btn btn-primary btn-sm">No, I am satisfied with my order.</a>
    <a href="#" class="btn btn-primary btn-sm">Yes I would like to change it.</a>
  </div>
  <div>
    <p>In order to complete your order, please<a class="link" href="{{ signup_url }}">sign up</a> or simply login</p>
  </div>
    
{% endblock %}