{% extends "base.html" %}

{% block title %}Comfort Foods.de|Taste Mzansi Flavors{% endblock %}
{% block content %}
    <h1 class="card-title">Welcome to Comfort Foods.de</h1>

    
    <div class="carousel slide" data-bs-ride="carousel">
        <div class="carousel-inner">
          <div class="carousel-item active">
            <img src="#" class="d-block w-100" alt="Cooked chicken feet dunked in soup">
          </div>
          <div class="carousel-item">
            <img src="#" class="d-block w-100" alt="Cooked samp with tripe meat">
          </div>
          <div class="carousel-item">
            <img src="#" class="d-block w-100" alt="Creamy samp and beans with butter toping">
          </div>
        </div>
      </div>
{% endblock %}
 