{% extends "base.html" %}
{% load static %}
{% load crispy_forms_tags %}

{% block title%}About - Comfort Foods.de{% endblock %}

{% block content %}

<div class="container mt-5">
    <div class="row">
        <div class="col-md-4 text-container">
            <img src="{% static 'images/bestfriends.jpg' %}" class="rounded" width="75%" alt="placeholder image">
        </div>
        <div class="col-8 text-white">
            <h2>{{ about.title }}</h2>
            {{ about.content|safe }}
        </div>           
    </div>
    <div class="row">
        <div class="col text-right">
            <p class="text-end text-white"><em>Updated on: {{ about.updated_on }}</em></p>
        </div>
    </div>
    <div class="row justify-content-center">
        <div class="col-12 col-md-6 my-5">
            <h2>Tell us what you think!</h2>
            <p>Please fill out the form and tell us more.</p>

            <form method="post">
                {{ collaborate_form }}
                {% csrf_token %}
                <button class="btn btn-secondary"
                type="submit">Submit</button>
            </form>
        </div>
</div>

{% endblock %}

