{% extends "base.html" %}

{% load static %}


{% block title%}About - Comfort Foods.de{% endblock %}

{% block content %}

<div class="container mt-5">
    <div class="row">
        <div class="col-md-4 text-container">
            <img src="{% static 'images/bestfriends.jpg' %}" width="75%" alt="placeholder image">
        </div>
        <div class="col-8">
            <h2>{{ about.title }}</h2>
            {{ about.content|safe }}
        </div>           
    </div>
    <div class="row">
        <div class="col text-right">
            <p class="text-end"><em>Updated on: {{ about.updated_on }}</em></p>
        </div>
    </div>
    <div class="row justify-content-center">
        <div class="col-12 col-md-6 my-5">
            <h2>Tell us what you think!</h2>
            <p>Please fill out the form and tell us more.</p>

            <!-- add your form here. Your submit button should 
                                have the classes of btn, btn-secondary -->
        </div>
</div>

{% endblock %}

